body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333; /* Dunkler Hintergrund für Dark Mode */
    color: #fff; /* Weißer Text für bessere Lesbarkeit */
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #444; /* Dunklerer Hintergrund für das Formular */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left; /* Text linksbündig für Playlist */
}
h1 {
    color: #1DB954; /* Grün für den Titel */
}
label {
    display: block;
    margin-bottom: 8px;
    color: #fff; /* Weißer Text für Labels */
}
input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #555; /* Dunklerer Hintergrund für Eingabefelder */
    color: #fff; /* Weißer Text für Eingabefelder */
    box-sizing: border-box;
}
button {
    background-color: #1DB954; /* Grün für den Button */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
button.cancel-button {
    background-color: #ff4d4d; /* Rot für den Abbrechen-Button */
    margin-left: 10px;
}
button:hover {
    background-color: #1ed760; /* Dunkleres Grün im Hover-Zustand */
}
p.error-message {
    color: #ff4d4d; /* Rotes für Fehlermeldungen */
    font-size: 14px;
    margin-top: 8px;
    display: none; /* Fehlermeldung zunächst ausblenden */
}
.playlist {
    margin-top: 20px;
    border-top: 1px solid #666; /* Trennlinie für Playlist */
    padding-top: 10px;
}
.song-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.song-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 4px;
}
.song-item .song-info {
    flex: 1;
}
.song-item .song-info h3 {
    margin: 0;
    font-size: 16px;
    color: #fff;
}
.song-item .song-info p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}
